.search-form {
  float: right;
}

.search-form__label {
  font-size: 0;
}

.search-form__field {
  padding: 10px;
  border: 1px solid #4e4e4e;
  background-color: transparent;
}

.search-form__button {
  padding: 10px;
}
